body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: scroll;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    margin: 20px; /* Added margin to the container */
}

h1 {
    font-size: 2.5em;
    color: #8433EB;
    margin-top: 0px;
    margin-bottom: 20px;
}

.bpm-control {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bpm-control label {
    margin-right: 10px;
    font-size: 1.2em;
}

#bpm {
    width: 80px;
    font-size: 1.2em;
    text-align: center;
    background-color: #2E2E2E;
    color: #E0E0E0;
    border: 1px solid #8433EB;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    -moz-appearance: textfield; /* Hide the arrows for Firefox */
}

#bpm::-webkit-outer-spin-button,
#bpm::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Hide the arrows for Chrome, Safari, Edge, and Opera */
    margin: 0;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #333;
    color: #E0E0E0;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    min-width: 35%; /* Set min-width of buttons in control div to 35% */
    max-width: fit-content;
}

button:hover {
    background-color: #8433EB;
}

.beat-indicator {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #3A3A3A;
    border: 2px solid #3A3A3A; /* Default border color */
    border-radius: 10px;
}

.beat-indicator.active {
    background-color: #8433EB;
}

.beat-indicator.filled {
    background-color: #8433EB;
}

.beat-indicator.countdown {
    border-color: #8433EB;
}

#countdown-container {
    height: 50px;
}

#countdown {
    font-size: 2em;
    margin-top: 10px;
    visibility: hidden;
}

.divider {
    border: 1px solid #8433EB;
    margin: 20px 0;
}

.loop-container {
    margin-top: 10px;
    background-color: #2E2E2E;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loop-container .audio-controls {
    display: flex;
    align-items: center;
}
img{
    width: 150px;
    margin: 20px;
    margin-bottom: 0px;

}
.loop-container .audio-controls button {
    background-color: #444;
    border: none;
    color: #E0E0E0;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px; /* Set min-width of buttons in audio controls to 100px */
}

.loop-container .audio-controls button:hover {
    background-color: #8433EB;
}

.loop-container .audio-name {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}
