body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #1F1F1F;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    color: #4caf50;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #333;
    color: #E0E0E0;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%; /* Adjusted to ensure buttons fit well in the container */
    margin: 0 5%; /* Added margin for spacing between buttons */
}

button:hover {
    background-color: #4caf50;
}

.beat-indicator {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #3A3A3A;
    border-radius: 10px;
}

.beat-indicator.active {
    background-color: #4caf50;
}

#countdown-container {
    height: 50px;
}

#countdown {
    font-size: 2em;
    margin-top: 10px;
    visibility: hidden;
}

.divider {
    border: 1px solid #4caf50;
    margin: 20px 0;
}

.loop-container {
    margin-top: 10px;
    background-color: #2E2E2E;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loop-container .audio-controls {
    display: flex;
    align-items: center;
}

.loop-container .audio-controls button {
    background-color: #444;
    border: none;
    color: #E0E0E0;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.loop-container .audio-controls button:hover {
    background-color: #4caf50;
}

.loop-container .audio-name {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}
